.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    background-color: #fefefe;
    max-height: 90%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; 
    text-align: left;
    overflow: scroll;
  }

.modal-title {
  font-size: 1rem;
  margin: 1rem;
}

.modal-short {
  margin: 1rem;
}
.modal-description {
  background-color: var(--g-color-beige);
  margin-bottom: 2rem;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }