.tasks-array-container {
    background-color: #F0F0F3;
    display: inline-block;
}
.tasks-array-task {
    float:left;
    margin: 0.1rem 0 0 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.tasks-array-task:hover {
    box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
}
ul {
    text-align: left;
}

.tasks-array-container hr {
    display:inline-block;
    width: 100%;
}
